<style>
        .stock-group {
          background: #e5e5e5;
          width: 100%;
          border-radius: 2px;
          border: 2px solid gray;
        }
          .red-color {
            color: red;
          }
        </style>
		{% assign stock = 0 %}
        {% for variant in product.variants %}
        	{% if variant.inventory_quantity > 0 %}
        		{% assign stock = stock | plus: variant.inventory_quantity %}
        	{% endif %}
        {% endfor %}
        {% if stock < 10 %}
        <div class="stock-group">Attention, il ne reste plus que <span class="red-color">{{ stock }}</span> articles en stock !</div>
        {% endif %}
